# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ide
.idea/
.vscode/
*.swp
*.swo

# os
.DS_Store
.env
.venv
venv/
ENV/

# logs
*.log

# data
*.csv
*.pkl
!models/scaler.pkl
!models/*.pkl
